.advancedFormTitle {
  composes: orange-text from global;
  font-family: "Monoton", cursive;
}

.formCardStyles {
  composes: col s12 m4 from global;
  width: 80%;
  margin: 2rem auto;
}

.titleCardStyles {
  font-family: "Monoton", cursive;
  padding-bottom: 1rem;
}
