.landingStyles {
  composes: orange-text text-darken-2 from global;

  h1 {
    font-size: 140px;
    margin: 0;
    padding-top: 10vh;
    font-family: "Monoton", cursive;
    text-transform: capitalize;
    letter-spacing: 0.7rem;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-family: "Monoton", cursive;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
  }

  h6 {
    margin-top: 1.7rem;
  }
}
