.formBasicStyles {
  composes: col s12 m4 from global;

  width: 50%;
  margin: 2rem auto;
  background-color: #212121;
  padding: 3rem;
}

.formStyles {
  composes: orange-text from global;
  font-family: "Monoton", cursive;
}
