/* label color */
.input-field label {
  color: white;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
  color: white;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
  color: white;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
  color: white;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
}

.input-field input:focus + label {
  color: #ff9800 !important;
}
/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #ff9800 !important;
  box-shadow: 0 1px 0 0 #ff9800 !important;
}
